* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.label-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.input-delay {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.input-delay:hover {
  border: 1px solid #6c8cff;
}

fieldset {
  width: 360px;
  height: 70px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 48px;
  padding: 0 8px;
}

fieldset:hover {
  border: 1px solid #000;
}

.label-check {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

input[type='radio'] {
  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 24px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: rgb(224, 224, 224);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: black;
  cursor: pointer;
  border: 1px solid #000;
}
button:hover {
  background: #6c8cff;
}
